@* Task index Template File*@
@(project: Project, tasks: List[Task], projects: List[Project], user: User)

@main(projects, user) {

	<header>
	
		<hgroup>
			<h1>Dashboard</h1>
			<h1>@project.name</h1>
		</hgroup>
	</header>
	<article class="tasks">

		<div class="projectGrouping" data-project-id="@project.id">
			<ul id="taskList" class="taskList">
				@tasks.map{ task =>
					@views.html.tasks.item(task)
				}
			</ul>
		</div>

	<!-- method="post" action="@routes.TaskController.addTask(project.id) -->
	
	<form method="post" id="formNewTask" class="addTask">
			<input id="inputTitle" type="text" name="title" placeholder="New task..."/>
			<input id="inputDueDate" type="text" name="dueDate" class="dueDate" placeholder="Due date: mm/dd/yy"/>
			<div class="assignedTo">
				<input id="inputAssignedTo" type="text" name="assignedTo" class="assignedTo" placeholder="Assign to..."/>
			</div>
			<input id="addTaskButton" type="submit" value="Add task"/>
	</form>							
		
	</article>
}