@* Task index Template File*@
@(project: Project, tasks: List[Task], projects: List[Project], user: User)

@main(projects, user) {

	<header>
	
		<hgroup>
			<h1>Dashboard</h1>
			<h1>@project.name</h1>
		</hgroup>
	</header>
	<article class="tasks">

		<div class="projectGrouping" data-folder-id="@project.id">
			<ul class="list">
				@tasks.map{ task =>
					@views.html.tasks.item(task)
				}
			</ul>
		</div>

		<form class="addTask">
			<input type="text" name="taskTitle" placeholder="New task..."/>
			<input type="text" name="dueDate" class="dueDate" placeholder="Due date: mm/dd/yyyy"/>
			<div class="assignedTo">
				<input type="text" name="assignedTo" class="assignedTo" placeholder="Assign to..."/>
			</div>
			<input type="submit" value="Add task">
		</form>
	</article>
}