@(projects: List[Project])(body: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Zentask</title>
        <link rel="stylesheet" tyep ="text/css" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-3.1.0.js")"></script>       
    </head>
    <body>
        <header>
        	<a href="@routes.Application.index" id=logo" <span>Zen</span>tasks</a>
        </header>
        <nav>
        	<h4 class="dashboard"><a href="#">Dashboard</a></h4>
        	<ul id="projects">
        		@projects.groupBy(_.folder).map {
        		case (folder,projectsList) => {
        				@views.html.projects.folder.folder(folder,projectsList)
        			}
        		}
        	</ul>
        </nav>
        <section id="main">
        	@body
       	</section>
    </body>
</html>
